.container{
    width: 640px ;
    margin: auto;
    margin-top: 150px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px ;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 27px;
    font-weight: 500 ;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

/*
.container button{
    margin: auto;
    width: 250px;
    height: 65px;
    background: #baaedf;
    color: #fff;
    font-size: 25px;
    font-size: 500;
    border-radius: 8px;
    cursor: pointer;

}
    */
    .container .button-group {
        display: flex;
        justify-content: space-between;
    }
    
    .container button {
        width: 120px;
        height: 50px;
        background: #553f9a;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 8px;
        cursor: pointer;
        border: none;
    }
    
    .container button:disabled {
        background: #9e9e9e; /* Gray out the button if disabled */
        cursor: not-allowed;
    }
    

.container .index{
    margin: auto;
    font-size: 18px;
}